* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  height: 100vh;
  background-color: cadetblue;
  gap: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
input {
  width: 120px;
}
div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 150px;
  width: 150px;
  color: white;
}

#cambioColore {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: blue;
  height: 150px;
  width: 150px;
  color: white;
}
#daInserire {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  background-color: #8a2be2;
  height: 150px;
  width: 150px;
  color: rgb(253, 253, 253);
}
#removeDiv {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgb(155, 16, 35);
  height: 150px;
  width: 150px;
  color: white;
}
#hideDiv {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgb(44, 135, 34);
  height: 150px;
  width: 150px;
  color: white;
}
.classeAggiunta {
  color: blueviolet;
}
/*evidenzia elementi*/
#evidenzia {
  list-style-type: none;
  font-size: large;
}
#evidenzia :hover {
  color: black;
  background-color: rgb(208, 255, 0);
}

#menu {
  border-radius: 10%;
  padding: 7px;
  width: 75px;
  position: relative;
  right: -17px;
  list-style-type: none;
  background: #567676;
  flex-direction: column;
}
/*18. Animazione di un div*/
#treno {
  background-color: rgb(241, 53, 15);
  transition: transform 2s ease;
}

#treno:hover {
  transform: translate(-100pc, 0px);
}
/* Carosello di immagini: */
#slideDiv {
  display: flex;
  flex-direction: row;
}
#slider {
  overflow: hidden;
  transition: transform 0.5s ease-in-out;
  display: flex;
  flex-direction: row;
}
.slide {
  position: relative;
  left: 217px;
  height: 112px;
  width: 112px;
}
/* Effetto dissolvenza al clic*/
#fadeDiv {
  transition: opacity 1.5s ease-in-out 0s;
  opacity: 1;
}
/*Tooltip personalizzati*/
#tooltipholder {
  position: relative;
}
#tooltip {
  right: -82px;
  bottom: -27px;
  position: absolute;
  visibility: hidden;
  background-color: #333;
  color: #fff;
  padding: 5px;
  border-radius: 3px;
}

#tooltipholder:hover #tooltip {
  visibility: visible;
}
/*drag and drop */
#pallina {
  bottom: 10px;
  left: 25px;
  position: absolute;
  border-radius: 100%;
  background-color: orangered;
  height: 20px;
  width: 20px;
  cursor: -webkit-grab;
}
#canestro {
  top: 20px;
  right: 20px;
  position: absolute;
  border-radius: 100%;
  border: 3px solid red;
  height: 45px;
  width: 35px;
}
/*32. Animazione colore e dimensione:*/

#pilastro {
  background-color: green;
  height: 20px;
  width: 20px;
}
